<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Palestra XYZ</title>
  <link rel="stylesheet" href="home-client.component.css">
</head>
<body>
<header>
  <div class="logo">Palestra XYZ</div>
  <nav class="navBar" >
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/prenotazioni">Prenotazioni</a></li>
        <button (click)="OnClick()">Logout</button>
    </ul>
  </nav>
</header>
<main class="content">
<section class="hero">
  <h1>Benvenuti alla Palestra XYZ</h1>
  <p>Il tuo benessere, la nostra missione</p>
</section>
<section class="corsi-disponibili">
  <h2>Corsi Disponibili</h2>
  <div class="corsi-grid">
    <!-- Esempio di carta corso -->
    @for(corso of corsiArray; track corso.id) {
      <div class="corso-card">
      <img [src]="corso.imgSrc" alt="{{corso.nome}}" width="300px" height="500px" priority/>
        <h3>{{corso.nome}}</h3>
      </div>
    }

    <div class="corso-card">
      <img src="yoga.jpg" alt="yoga" width="300px" height="500px" />
      <h3>Yoga</h3>
    </div>
    <div class="corso-card">
      <img src="yoga.jpg" alt="yoga" width="300px" height="500px" />
      <h3>Yoga</h3>
    </div>
    <div class="corso-card">
      <img src="yoga.jpg" alt="yoga" width="300px" height="500px" />
      <h3>Yoga</h3>
    </div>
    <div class="corso-card">
      <img src="yoga.jpg" alt="yoga" width="300px" height="500px" />
      <h3>Yoga</h3>
    </div>
    <div class="corso-card">
      <img src="yoga.jpg" alt="yoga" width="300px" height="500px" />
      <h3>Yoga</h3>
    </div>

    <div class="corso-card">
      <img src="yoga.jpg" alt="yoga" width="300px" height="500px" />
      <h3>Yoga</h3>
    </div>


  </div>
</section>
</main>
</body>
</html>
