<div class="container">
  <div>
  <header>
    <h1>{{userName}}</h1>
  </header>
  <section class="new-booking">
    <h2>Aggiungi Prenotazione</h2>
    <label for="data">Seleziona la data e l'ora:</label>
    <form id="bookingCard" [formGroup]="prenotazioneForm" (ngSubmit)="addPrenotazione()">
      <input type = "datetime-local" max="9999-12-31T23:59" id="data" formControlName="dataPrenotazione">
      <form class="tendina" [formGroup]="prenotazioneForm" action="#">
        <select name="corso" formControlName="corsoName" required>
          @for(corso of corsiArray; track corso.id) {
            <option value="{{corso.nome}}">{{corso.nome}}</option>
          }
        </select>
      </form>
      <button type="submit">Aggiungi Prenotazione</button>
    </form>
  </section></div>
  <section class="bookings-list">
    <h2>Le tue Prenotazioni</h2>
    <table >
      <tr>
        <th>Corso</th>
        <th>Data</th>
      </tr>
      @for(p of prenotazioniArray; track p.id ){
        <tr >
          <td>{{p.corsoName}}</td>
          <td>{{p.dataPrenotazione}}</td>
          <td>
            <button type="button" (click)="deletePrenotazione( (p.id) )" >Annulla</button>
          </td>
        </tr>
      }
    </table>
  </section>
  <div class="area-personale">
    <h1><a routerLink="/home-client">Area Personale</a></h1>
  </div>
</div>
