<div class="container">
  <div>
  <header>
    <h1>User Name</h1>
  </header>
  <section class="new-booking">
    <h2>Add New Booking</h2>
    <label for="data">Seleziona la data e l'ora:</label>
    <form id="bookingCard" (ngSubmit)="addBooking()">
      <input type = "datetime-local" id="data" name="data" [(ngModel)]="newBooking" name="bookingInput">
     <!-- <label for="tendina">Seleziona il corso</label>
      <form id="tendina" action="#">
        <select name="corsi" formControlName="corsi" required>
          &lt;!&ndash; Todo &ndash;&gt;
          <option value="yoga">yoga</option>
          <option value="boxe" selected>boxe</option>
        </select>
      </form>-->
      <button type="submit">Add Booking</button>
    </form>
  </section></div>
  <section class="bookings-list">
    <h2>Your Bookings</h2>
    <table >
      <tr>
        <th>Corso</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>yoga</td>
        <td>10/04/2024 09:30</td>
        <td><button>Annulla</button></td>
      </tr>
      <tr>
        <td>Karate Course with updates</td>
        <td>10/04/2024 09:30</td>
        <td><button>Annulla</button></td>
      </tr>
      <tr>
        <td>Karate Course with updates</td>
        <td>10/04/2024 09:30</td>
        <td><button>Annulla</button></td>
      </tr>
      @for(prenotazione of prenotazioniArray; track prenotazione.id){
        <tr>
          <td>{{prenotazione.corsoName}}</td>
          <td>{{prenotazione.dataPrenotazione}}</td>
          <td><button>Annulla</button></td>
        </tr>
      }
    </table>
    <ul>
      <li *ngFor="let booking of bookings">{{ booking }}</li>
    </ul>
  </section>
  <div class="area-personale">
    <h1><a routerLink="/home-client">Area Personale</a></h1>
  </div>
</div>
